<div class="mainBody">

  <div class="navigation">
    {{>head_buttons}}
  </div>

    <div class="upload_form">

      <h1>Edit</h1>
      <form stlye = 'display:inline' action='/gallery/{{id}}?_method=PUT' method='POST'>
        <input
          class="upload_form_box uneditable"
          type="text"
          name="id"
          placeholder="Author Id"
          value="{{id}}"
          readonly
          >
          <br/>
        <input
          class="upload_form_box uneditable"
          type="text"
          name="name"
          placeholder="Author name"
          value="{{name}}"
          readonly
        >
        <br/>
        <input
          class="upload_form_box uneditable"
          type="text"
          name="link"
          placeholder="Link"
          value="{{link}}"
          readonly
        >
        <br/>
        <input
          class="upload_form_box"
          type="text"
          name="description"
          placeholder="Description"
          value="{{description}}"
        >
        <br/>
        <div class="meta_field">
          <ul id="meta_fields">
            {{#each meta}}
              <li class="metadata_item">
                <input
                  class="upload_form_box"
                  type="text"
                  value="{{@key}}">

                  <input
                  class="upload_form_box"
                  type="text"
                  name="meta[{{ @key }}]",
                  value="{{ this }}">
              </li>
            {{/each}}
          </ul>
        </div>
        <button id="add_meta_field_button" class="db_update" type="button">Metadata</button>
        <button class="db_update" type='submit'>Update</button>
        <form action="/gallery/{{id}}?_method=DELETE" method='POST'>
          <button class="db_update" type='submit'>Delete</button>
        </form>
      </form>

    </div>
  </div>
  <script src="/scripts/metaFields.js"></script>