<div class="mainBody">

  <div class="navigation">
    {{>head_buttons}}
  </div>

  <div class="photo_section">
        <div class="hero_image">
          <img class="hero_link" src={{link}}>
          <p class="description">{{description}}</p>
          <p class="name">{{owner}}</p>
          {{#if showEditButton}}
            <form class="gallery_edit_form">
              <button class="gallery_edit_button" type="submit" formmethod="get" formaction="/gallery/{{id}}/edit" name="edit">Edit</button>
            </form>
          {{/if}}
        </div>
  </div>

  <div class="metadata_section">
    <ul class="metadata_list">
      {{#each meta}}
        <li class="metadata_item">
          <span class="runin_head">{{@key}}</span> : {{ this }}
        </li>
      {{/each}}
    </ul>
  </div>
</div>